
            <header class="site-header">
              <div class="container">
                <a href="/" id="branding">
                  <img src="@routes.Assets.at("dummy/logo.png")" alt="Site Title" style="width: 25%; height: 20%">
                  <small class="site-description">Music without limitations</small>
                </a> <!-- #branding -->

                <nav class="main-navigation">
                  <button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
                  <ul class="menu">
                    <li class="menu-item current-menu-item"><a href="/">Inicio</a></li>
                    <li class="menu-item"><a href="/login">Iniciar Sesion</a></li>
                    <li class="menu-item"><a href="/register">Registrarse</a></li>
                  </ul> <!-- .menu -->
                </nav> <!-- .main-navigation -->
                <div class="mobile-menu"></div>
              </div>
            </header> <!-- .site-header -->