<header class="main-header">

    <!-- Logo -->
  <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>NCS</b></span>
      <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>NoCopyrightSounds</b></span>
  </a>

    <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
      <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->

          <!-- Notifications: style can be found in dropdown.less -->

          <!-- Tasks: style can be found in dropdown.less -->

          <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="@routes.Assets.at("adminltedist/img/user2-160x160.jpg")" class="user-image" alt="User Image">
            <span class="hidden-xs">@session.get("user")</span>
          </a>
          <ul class="dropdown-menu">
              <!-- User image -->
            <li class="user-header">
              <img src="@routes.Assets.at("adminltedist/img/user2-160x160.jpg")" class="img-circle" alt="User Image">

              <p>
                  @session.get("user") - Musician
              </p>
            </li>
              <!-- Menu Body -->

              <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <form action="logout" method="post">
                  <input type="submit" class="btn btn-default btn-flat" value="Sign out">
                </form>
              </div>
            </li>
          </ul>
        </li>
          <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>

  </nav>
</header>